
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    background-color: #1c1d20;
    font-family: "Inter Tight", sans-serif;
    color: #fafafa;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  a {
    color: currentColor;
    text-decoration: none;
  }
  
  button {
    cursor: pointer;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
.tema-wrap{
  position: relative;
}
.tema-btn{
  width: 48px;
  height: 48px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.tema-icon{
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #ed3b44;
  border: 1px solid #000;
}


.tema-list{
  position: absolute;
  border-radius: 60px;

}
.tema-item{
  cursor: pointer;
  display: block;
  border: 1px solid rgba(250, 250, 250, 0.2);

  padding: 9px 18px;
  /* max-width: px; */
  height: 37px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  background-color: #1c1d20;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.section {
  padding-top: 56px;
  padding-bottom: 64px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.benefits-item {
  background: #242527;
  border-radius: 20px;
  padding: 24px;
  width: 100%;
}

.benefits-wrap-icon {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background-color: #ed3b44;
  margin-bottom: 64px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-icon {
  stroke: #fafafa;
  fill: none;
}

.benefits-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.benefits-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.benefits-btn {
  cursor: pointer;
  display: block;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  max-width: 188px;
  height: 55px;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  background-color: transparent;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section {
    padding-bottom: 96px;
  }

  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 64px;
  }

  .benefits-item {
    flex-basis: calc((100%-16px) / 2);
  }
}



@media (min-width: 1280px) {
    .container {
      min-width: 1280px;
      /* display: flex; */
    }
  
    .section {
      padding-bottom: 164px;
    }
  .wrap{

    width: 675px;
  }
  .benefits-list{
    min-width: 680px;
  }
    /* .benefits-container {
  display: flex;
      /* min-width: 1440px; */
    /* }
  
    .it {
  /* flex-grow: 1; */
      /* min-width: 675px; */ 
    /* } */ 
  
    /* .it1{
      flex-grow: 1;
    } */
  
  }